<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.learzhu.browser">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".LearzhuBrowserApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".glide.GlideActivity"
            android:label="@string/title_activity_glide"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PopuWindowActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">

            <!-- <extradata> -->
            <!-- <item name="foo" value="bar"/> -->
            <!-- </extradata> -->
            <!-- <meta-data -->
            <!-- android:name="webPage" -->
            <!-- android:value="mykey123"/> -->
        </activity>

        <receiver
            android:name=".broadreceiver.WindowLockedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadreceiver.ScreenBroadcastReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".activity.Main2Activity"/>
        <activity android:name=".activity.Main3Activity"/>
        <activity android:name=".activity.ImageActivity"/>
        <activity android:name=".activity.ImageActivity1"/>
        <activity android:name=".activity.AnimActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.RecyclerViewActivity1"/>
        <activity android:name=".activity.RecyclerViewActivity"/>
        <activity android:name=".activity.VlayoutRecyclerViewActivity"/>
        <activity android:name=".activity.AsyncTaskActivity"/>
    </application>

</manifest>